<% layout('layout/boilerplate') %> 

    <!-- new code -->
    
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
    
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <!-- campground title -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  
                </div>
                <!-- campground location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  
                </div>
                <!-- campground price -->
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input class="form-control" type="number" id="price" name="campground[price]" placeholder="0.00" value="<%= campground.price %>" required>
                        
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    
                  
                </div>
    
                
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <label class="form-file-label form-label" for="image">Browse Image(s)</label>
                        <input type="file" class="form-file-input form-control" id="image" name="image" multiple>
                    </div>
                </div>
                  
                
                 <!-- campground description -->
                 <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description %> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  
                </div>

                <h5> Delete Image(s) </h5>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                <% campground.images.forEach((image, i) => { %>
                    <div class="col">
                        <div class="card">
                            <img class="card-img" src="<%= image.thumbnail %>" alt="">
                            <div class="card-img-overlay text-end pt-1 pe-2">
                                <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%= image.filename %>"  id="image-<%= i %>">
                            </div>
                        </div>
                    </div>
                <% }) %>
                </div>
                
                <div class="my-5 d-flex justify-content-around">
                    <a class="btn btn-danger" href="/campgrounds">Go Back</a>
                    <button class="btn btn-success">Update Campground</button>
                </div>
            </form>
            
        </div>
    </div>
        
    
    
